.jumbos{
    width: 45%;
    margin: auto;
    margin-top: 10%;
}

.users{
    font-size: 1.2em;
}

a{
    padding: 6px 15px;
    margin-left: 6px;
}

a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: initial;
}

span p{
    font-size:1.2em;
}

.wells{
    width:16%;
    margin: auto;
    margin-top: 14%;
}

.logins{
    margin: auto;
}

@media only screen and (max-width: 500px) {
    .primarys{
        margin-left: 35%;
        margin-top:4%;
    }
    .jumbos{
        width: 90%;
    }
    .stats{
        margin-left: 10%;
    }
    .navbar-header button{
        display: none;
    }
}